.Decoder {
  position: relative;
  text-align: center;
  margin: 20px auto;
  width: 819px;

}
.Decoder-mainpanel {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;

}
.wrapper {
    position: absolute;
    top: 80px;
    left: 107px;
    display: grid;
    grid-template-columns: 455px 140px;
    grid-template-rows: 425px 35px;
    gap: 5px;
}
