.Decoder {
  position: relative;
  text-align: center;
  margin: 20px auto;
  width: 819px;
  height: 723px;

}


.right-panel {
  position: absolute;
  top: 50px;

}

.regexArea {
  position: relative;
  margin-top: 250px;
}